<div class="m-3 mb-5">
  <!-- post header -->
  <div class="post-header d-flex justify-content-between align-items-center">
    <div class="d-flex justify-content-center gap-2 align-items-center">
      <div>
        <img width="40px" [src]="post?.user?.photo" alt="" />
      </div>
      <div>
        <h5 class="m-0">{{ post?.user?.name }}</h5>
        <span>{{ post?.createdAt | date : 'short' }}</span>
      </div>
    </div>
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-three-dots txtDarkColor3"
        viewBox="0 0 16 16"
      >
        <path
          d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"
        />
      </svg>
    </div>
  </div>
  <!-- post body -->
  <div class="post-body mt-2">
    <p>{{ post?.body }}</p>
    <div class="w-100 rounded-1">
      <img class="w-100 rounded-1" [src]="post?.image" alt="" />
    </div>
  </div>

  <!-- post comments -->
  <div class="post-comments">
    <a class="mt-1 txtDarkColor">Show Comments</a>
    <div class="card border-0 rounded-2 mt-3 bgSecundaryColor p-4">
      <div class="post-header d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-center gap-2 align-items-center mb-1">
          <div>
            <img width="30px" src="./man-profile.png" alt="" />
          </div>
          <div class="d-flex align-items-center gap-2">
            <h6 class="m-0 p-0">Amjad Salah Aldeen</h6>
            <span>3 Hours</span>
          </div>
        </div>
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-three-dots txtDarkColor3"
            viewBox="0 0 16 16"
          >
            <path
              d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"
            />
          </svg>
        </div>
      </div>
      <div>
        <p class="mb-0">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, nulla enim id quas
          doloribus illum.
        </p>
      </div>
    </div>
    <div
      class="d-flex flex-row align-items-center gap-1 card border-0 rounded-2 mt-1 bgSecundaryColor p-2"
    >
      <textarea
        rows="1"
        placeholder="Your Comment..."
        class="form-custom px-3 py-2 w-100"
      ></textarea>
      <button class="btn p-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="28"
          height="28"
          fill="currentColor"
          class="bi bi-arrow-right-square-fill txtDarkColor"
          viewBox="0 0 16 16"
        >
          <path
            d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
