<div class="m-3">
  <!-- post header -->
  <div class="post-header d-flex justify-content-between align-items-center">
    <div class="d-flex justify-content-center gap-2 align-items-center">
      <div>
        <img width="40px" [src]="post.user.photo" alt="" />
      </div>
      <div>
        <h5 class="m-0">{{ post.user.name }}</h5>
        <span>{{ post.createdAt | date : 'short' }}</span>
      </div>
    </div>
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-three-dots txtDarkColor3"
        viewBox="0 0 16 16"
      >
        <path
          d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"
        />
      </svg>
    </div>
  </div>
  <!-- post body -->
  <div class="post-body mt-2">
    <p>{{ post.body }}</p>
    <div class="w-100 rounded-1">
      <img class="w-100 rounded-1" [src]="post.image" alt="" />
    </div>
  </div>

  <!-- post comments -->
  <div class="post-comments">
    <a (click)="toggleComments()" class="mt-1 txtDarkColor showCommentsBtn">
      {{ showMoreComments() ? 'Hide Comments' : 'Show All Comments' }}
    </a>
    <div [class.scrolled]="comments().length > 2 && showMoreComments()">
      @for (comment of displayComments(); track $index) {
      <div class="card border-0 rounded-2 mt-3 bgSecundaryColor p-4">
        <div class="post-header d-flex justify-content-between align-items-center">
          <div class="d-flex justify-content-center gap-2 align-items-center mb-1">
            <div>
              <img width="30px" src="./man-profile.png" alt="" />
            </div>
            <div class="d-flex align-items-center gap-2">
              <h6 class="m-0 p-0">{{ comment.commentCreator.name }}</h6>
              <span>{{ comment.createdAt | date }}</span>
            </div>
          </div>
          @if(comment.commentCreator._id === userId()){
          <div ngbDropdown placement="bottom-end">
            <button id="dropdownBasic1" ngbDropdownToggle class="bg-transparent border-0">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-three-dots txtDarkColor3"
                viewBox="0 0 16 16"
              >
                <path
                  d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"
                />
              </svg>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button (click)="toEdit()" ngbDropdownItem>Edit</button>
              <button ngbDropdownItem>Delete</button>
            </div>
          </div>
          }
        </div>
        <div>
          <p class="mb-0">
            {{ comment.content }}
          </p>
        </div>
      </div>
      }
    </div>
    <form
      (submit)="shareComment($event)"
      class="d-flex flex-row align-items-center gap-1 card border-0 rounded-2 mt-1 bgSecundaryColor p-2"
    >
      <textarea
        [formControl]="commentControl()"
        rows="1"
        placeholder="Your Comment..."
        class="form-custom px-3 py-2 w-100"
      ></textarea>
      @if (isShare()) {
      <button class="btn p-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="34"
          height="34"
          fill="currentColor"
          class="bi bi-arrow-right-square-fill txtDarkColor"
          viewBox="0 0 16 16"
        >
          <path
            d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1"
          />
        </svg>
      </button>
      }@else {
      <button
        class="btn p-1"
        (click)="toShare()"
        (click)="updateComment(commentControl().value, 'comment._id')"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="34"
          height="34"
          fill="currentColor"
          class="bi bi-arrow-repeat rounded-1 p-1 txtSecundaryColor bgDarkColor"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41m-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9"
          />
          <path
            fill-rule="evenodd"
            d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5 5 0 0 0 8 3M3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9z"
          />
        </svg>
      </button>
      }
    </form>
    @if (commentLength() < 1 && commentControl().dirty && commentControl().touched) {
    <div class="d-flex align-items-center gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-exclamation-circle txtdiffColor"
        viewBox="0 0 16 16"
      >
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
        <path
          d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"
        />
      </svg>
      <p class="txtdiffColor m-0">comment should be more than 1\{{ commentLength() }} letters</p>
    </div>
    } @if (commentLength() > 30 && commentControl().dirty && commentControl().touched) {
    <div class="d-flex align-items-center gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-exclamation-circle txtdiffColor"
        viewBox="0 0 16 16"
      >
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
        <path
          d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"
        />
      </svg>
      <p class="txtdiffColor m-0">comment should be less than 30\{{ commentLength() }} letters</p>
    </div>
    }
  </div>
</div>
<hr />
