.showCommentsBtn {
  cursor: pointer;
}
.scrolled {
  height: 280px;
  width: 100%;
  overflow: scroll;
}

.dropdown-toggle::after {
  display: none;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: '';
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

@media (max-width: 600px) {
  hr {
    margin-inline: 10px;
  }
}
