<div class="modal-header bgDarkColor">
  <div class="post-header d-flex justify-content-between align-items-center">
    <div class="d-flex justify-content-center gap-2 align-items-center">
      <div>
        <img class="rounded-5" width="40px" [src]="userData()?.photo" alt="" />
      </div>
      <div>
        <h5 class="m-0 txtLightColor">{{ userData()?.name }}</h5>
      </div>
    </div>
  </div>
</div>
<form class="modal-body bgLightColor d-flex flex-column gap-1" (submit)="sharePostData($event)">
  <textarea
    [formControl]="postBody()"
    rows="4"
    placeholder="Share something that brings people closer to Allah ♥..."
    class="form-custom px-3 py-2 w-100"
  ></textarea>
  @if (postBodyLength() > 3000) {
  <div class="d-flex align-items-center gap-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-exclamation-circle txtdiffColor"
      viewBox="0 0 16 16"
    >
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
      <path
        d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"
      />
    </svg>
    <p class="txtdiffColor m-0">Posts should be less than 3000\{{ postBodyLength() }} letters</p>
  </div>

  } @if (postBodyLength() < 4 && postBody().touched) {
  <div class="d-flex align-items-center gap-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-exclamation-circle txtdiffColor"
      viewBox="0 0 16 16"
    >
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
      <path
        d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"
      />
    </svg>
    <p class="txtdiffColor m-0">Posts should be more than 4\{{ postBodyLength() }} letters</p>
  </div>

  } @if (postImgUrl()) {
  <div
    class="card w-100 m-auto d-flex justify-content-center align-items-center bgSecundaryColor border-2 p-1 position-relative"
  >
    <label
      class="w-100 m-auto d-flex justify-content-center align-items-center position-absolute h-100"
      for="img"
    >
    </label>
    <svg
      (click)="deletePostImg(fileInput)"
      xmlns="http://www.w3.org/2000/svg"
      width="28"
      height="28"
      fill="currentColor"
      class="bi bi-x-square-fill txtdiffColor position-absolute top-0 end-0 m-4 curPointer z-3"
      viewBox="0 0 16 16"
    >
      <path
        d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708"
      />
    </svg>
    <img class="w-100 mx-auto rounded-2" [src]="postImgUrl()" alt="" />
  </div>
  }@else {
  <label
    appDragDropImg
    (postImgFile)="droppedImg($event)"
    class="card w-75 m-auto d-flex justify-content-center align-items-center bgSecundaryColor border-2 border-dotted my-2 p-3 py-5"
    for="img"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      fill="currentColor"
      class="bi bi-cloud-arrow-up txtDarkColor"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708z"
      />
      <path
        d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383m.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"
      />
    </svg>
    <strong>Click or drag and drop <small>to upload</small></strong>
    <span>SVG,PNG,JBG,or GIF (MAX 800x400 px)</span>
  </label>
  }

  <input
    #fileInput
    [formControl]="fileInputControl()"
    class="d-none"
    (change)="getPostImg($event)"
    (drop)="getPostImg($event)"
    type="file"
    name="img"
    id="img"
  />
  <div class="modal-footer bgLightColor pb-0 pt-3 px-0 d-flex justify-content-center">
    <button
      type="submit"
      [disabled]="postBody().value === '' && !postImg()"
      [class]="{
        'curDisabled': postBody().value === '' && !postImg(),
        'bg-body-tertiary': postBody().value === '' && !postImg(),
      }"
      class="customBtn px-4 curDisabled"
    >
      Post
    </button>
    <button type="button" class="cancelBtn" (click)="closeModal('exit')">Cancel</button>
  </div>
  @if (errMsg() !== '') {
  <div class="d-flex align-items-center gap-2 mx-auto">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-exclamation-circle txtdiffColor"
      viewBox="0 0 16 16"
    >
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
      <path
        d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"
      />
    </svg>
    <p class="txtdiffColor m-0">{{ errMsg() }}</p>
  </div>
  }
</form>
