<section
  class="pt-5 pb-3 d-flex flex-column justify-content-center align-items-center bgSecundaryColor"
>
  <h1 class="txtDarkColor3">
    Wellcome to
    <span class="text-center txtDarkColor">Mihrab</span>
  </h1>
  <p class="txtDarkColor">Where Muslims can communicate in accordance with Islamic values 💚</p>
</section>
<form class="mx-auto card bgLightColor w-50 text-center p-5 py-3 txtDarkColor">
  <h2 class="">login</h2>
  <div class="d-flex flex-column justify-content-start">
    <label for="name" class="me-auto">Name</label>
    <input placeholder="Your Name..." id="name" class="form-custom px-3 py-2 w-100 mb-3" />
    <label for="pass" class="me-auto">Password</label>
    <input placeholder="Your Password..." id="pass" class="form-custom px-3 py-2 w-100 mb-3" />
    <button class="customBtn py-2 px-4 w-25 align-self-center">Login</button>
  </div>
</form>
