<section
  class="vh-100 d-flex flex-column justify-content-center align-items-center bgSecundaryColor"
>
  <h1 class="txtDarkColor3">
    Wellcome to
    <span class="text-center txtDarkColor">Mihrab</span>
  </h1>
  <p class="txtDarkColor">Where Muslims connect in accordance with Islamic values. 💚</p>
  <form
    [formGroup]="loginForm()"
    class="mx-auto card bgLightColor w-50 text-center p-5 py-3 txtDarkColor2"
    (ngSubmit)="submitLoginForm()"
  >
    <h2 class="">login</h2>
    <div class="d-flex flex-column justify-content-start">
      <label for="email" class="me-auto">Email</label>
      @let emailControl = loginForm().get('email');
      <input
        formControlName="email"
        placeholder="Your Email..."
        id="email"
        class="form-custom px-3 py-2 w-100 mb-3"
      />
      @if (emailControl?.errors && emailControl?.touched) {
      <ul class="rounded-1 py-2 bgdiffColor">
        @if (emailControl?.getError('required')) {
        <li class="rounded-1 txtLightColor text-start">Email is required</li>
        }@else if (emailControl?.getError('email')) {
        <li class="rounded-1 txtLightColor text-start">
          Please enter a valid email address (e.g., example@domain.com)
        </li>
        }
      </ul>
      }
      <label for="pass" class="me-auto">Password</label>
      @let passControl = loginForm().get('password');
      <div class="position-relative">
        <span (click)="eyeOpen.set(!eyeOpen())">
          @if (!eyeOpen()) {
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-eye txtMainColor position-absolute eyelog p-0"
            viewBox="0 0 16 16"
          >
            <path
              d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"
            />
            <path
              d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"
            />
          </svg>
          }@else {
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-eye-slash txtdiffColor position-absolute eyelog p-0 m-0"
            viewBox="0 0 16 16"
          >
            <path
              d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"
            />
            <path
              d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"
            />
            <path
              d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"
            />
          </svg>
          }
        </span>
        <input
          [type]="eyeOpen() ? 'text' : 'password'"
          formControlName="password"
          placeholder="Your Password..."
          id="pass"
          class="form-custom px-3 py-2 w-100 mb-3"
        />
      </div>
      @if (passControl?.errors && passControl?.touched) {
      <ul class="rounded-1 py-2 bgdiffColor">
        @if (passControl?.getError('required')) {
        <li class="rounded-1 txtLightColor text-start">Password is required</li>
        }@else if (passControl?.getError('pattern')) {
        <li class="rounded-1 txtLightColor text-start">
          Password must be at least 8 characters and contain: uppercase letter, lowercase letter,
          number, and special character (#?!@$%^&*-)
        </li>
        }
      </ul>
      } @if (isLoading()) {
      <button class="customBtn py-2 px-4 w-25 align-self-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-moon-fill spinAnimation"
          viewBox="0 0 16 16"
        >
          <path
            d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278"
          />
        </svg>
      </button>
      }@else {
      <button class="customBtn py-2 px-4 w-25 align-self-center">Login</button>
      }

      <a class="txtdiffColor" routerLink="/signup">Don't have an account? lets signup </a>

      @if (loginsucMsg()) {
      <p class="rounded-1 bgSecundaryColor m-1 mb-0 w-75 mx-auto txtDarkColor2 text-center">
        {{ loginsucMsg() }}
      </p>
      }@else if (loginErrMsg()) {
      <p class="rounded-1 bgdiffColor m-1 mb-0 w-75 mx-auto txtLightColor text-center">
        {{ loginErrMsg() }}
      </p>
      }
    </div>
  </form>
</section>
