<nav class="navbar p-0 navbar-expand-lg bgLightColor position-fixed">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="./logo.png" alt="" />
    </a>
    <button
      (click)="isMenuCollapsed = !isMenuCollapsed"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      [ngbCollapse]="isMenuCollapsed"
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" role="button" aria-expanded="false">
            <img width="50px" src="./man-profile.png" alt="" />
          </a>
          <ul ngbDropdownMenu class="dropdown-menu">
            <li>
              <a
                ngbDropdownItem
                class="dropdown-item"
                (click)="isMenuCollapsed = true"
                routerLink="/profile"
                >Profile</a
              >
            </li>
            <li>
              <a
                ngbDropdownItem
                class="dropdown-item"
                (click)="isMenuCollapsed = true"
                routerLink="/resetpass"
                >Reset Password</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                ngbDropdownItem
                class="dropdown-item"
                (click)="isMenuCollapsed = true"
                routerLink="/login"
                >Logout</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
