/* css vars */
:root {
  --secundaryColor: #cfddaa;
  --mainColor: #6a9a4e;
  --darkColor: #396542;
  --darkColor2: #293e2d;
  --darkColor3: #142a13;
  --lightColor: #f2e8cd;
  --diffColor: #bb474a;
}

/* custom classes */
.txtSecundaryColor {
  color: var(--secundaryColor);
}
.txtMainColor {
  color: var(--mainColor);
}
.txtDarkColor {
  color: var(--darkColor);
}
.txtDarkColor2 {
  color: var(--darkColor2);
}
.txtDarkColor3 {
  color: var(--darkColor3);
}
.txtLightColor {
  color: var(--lightColor);
}
.txtdiffColor {
  color: var(--diffColor);
}

.bgSecundaryColor {
  background-color: var(--secundaryColor);
}
.bgMainColor {
  background-color: var(--mainColor);
}
.bgDarkColor {
  background-color: var(--darkColor);
}
.bgDarkColor2 {
  background-color: var(--darkColor2);
}
.bgDarkColor3 {
  background-color: var(--darkColor3);
}
.bgLightColor {
  background-color: var(--lightColor);
}
.bgdiffColor {
  background-color: var(--diffColor);
}

.borderSecundaryColor {
  border-color: var(--secundaryColor);
}
.borderMainColor {
  border-color: var(--mainColor);
}
.borderDarkColor {
  border-color: var(--darkColor);
}
.borderDarkColor2 {
  border-color: var(--darkColor2);
}
.borderDarkColor3 {
  border-color: var(--darkColor3);
}
.borderLightColor {
  border-color: var(--lightColor);
}
.borderdiffColor {
  border-color: var(--diffColor);
}

.curPointer {
  cursor: pointer;
}
.fitContent {
  width: fit-content;
}

.form-custom {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: var(--darkColor);
}
.form-custom:focus {
  outline: none;
  box-shadow: 0px 0px 5px var(--mainColor);
}

@media (max-width: 600px) {
  .form-custom {
    padding: 5px 10px;
    font-size: 10px;
  }
  .bi-arrow-right-square-fill,
  .bi-arrow-repeat {
    width: 27px;
    height: 27px;
  }
  form {
    padding: 5px;
    padding-inline-start: 10px;
  }
  .commentCard {
    padding: 18px;
  }
  .userImg {
    width: 35px;
    height: 35px;
  }
  .strong3alaNafso {
    font-weight: 400;
  }
  .dragDrop {
    width: 100%;
  }
}

.commentCard {
  padding: 20px;
}
form {
  padding: 10px;
}
.userImg {
  width: 40px;
  height: 40px;
}
.dragDrop {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: var(--bs-border-width);
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: var(--bs-body-bg);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 75%;
  height: var(--bs-card-height);
  color: var(--bs-body-color);
  word-wrap: break-word;
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}

.radio-custom {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: var(--darkColor);
}

.customBtn {
  --bs-btn-padding-x: 1rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-border-radius: var(--bs-border-radius);
  --bs-btn-disabled-opacity: 0.65;
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--mainColor);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: var(--lightColor);
}
.customBtn:hover {
  background-color: var(--secundaryColor);
  color: var(--darkColor);
}

.cancelBtn {
  --bs-btn-padding-x: 1rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-border-radius: var(--bs-border-radius);
  --bs-btn-disabled-opacity: 0.65;
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--diffColor);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: var(--lightColor);
}
.cancelBtn:hover {
  background-color: #e95759;
  color: var(--darkColor3);
}

.dragIn {
  border-style: dotted;
  border-color: var(--darkColor);
  background-color: var(--lightColor);
  transition: all 0.5s;
}

.dragOut {
  border-style: dotted;
  border-color: var(--darkColor);
  background-color: var(--secundaryColor);
  transition: all 0.5s;
}

.border-dotted {
  border-style: dotted;
}

/* deop down styles */
.dropdown-toggle::after {
  display: none;
}
.dropdown-menu[data-bs-popper],
.dropdown-menu {
  left: -100px;
  background-color: var(--lightColor);
  border-color: var(--darkColor);
}
.navbar {
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;
}
.dropdown-item:hover,
.dropdown-item:hover .navSVG {
  background-color: var(--secundaryColor);
}

.spinAnimation {
  animation: spin 0.5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(100deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.eye {
  top: 50%;
  transform: translateY(-60%);
  inset-inline-end: 16px;
}
.eyelog {
  top: 50%;
  transform: translateY(-90%);
  inset-inline-end: 16px;
}
